<%= content_for :page_title, 'Accueil' %>

<section id="slippry-slider" class="full-width">
  <div class="sy-box front-page">
    <div class="sy-slides-wrap">
      <div class="sy-slides-crop">
        <ul id="slippry-demo" class="sy-list">
          <li class="sy-slide fade useCSS sy-active" style="transition-duration: 800ms; opacity: 1;">
            <%= image_tag 'slide1', alt: '', class: 'hidden-xs' %>
            <%= image_tag 'mobile-slide-1', alt: '', class: 'hidden-lg hidden-md hidden-sm' %>
            <div class="inner-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="header-title">
                      <div class="text-container">
                        <%= image_tag 'reserve-logo', alt: '' %>
                        <h1 class="hidden-sm hidden-xs"><%=	t('homepage.slider_caption_1').html_safe  %></h1>
                        <h1 class="hidden-lg hidden-md"><%=	t('homepage.slider_caption_mobile_1').html_safe  %></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!--<li class="sy-slide fade useCSS" style="transition-duration: 800ms; opacity: 0;">-->
            <!--<img src="http://placehold.it/1920x682" class="hidden-xs">-->
            <!--< image_tag 'mobile-slide-1-copy', alt: '', class: 'hidden-lg hidden-md hidden-sm' %>-->
          <!--</li>-->
          <!--<li class="sy-slide fade useCSS" style="transition-duration: 800ms; opacity: 0;">-->
            <!--< image_tag 'slide3', alt: '', class:'hidden-xs' %>-->
            <!--< image_tag 'mobile-slide-1-copy', alt: '', class: 'hidden-lg hidden-md hidden-sm' %>-->
          <!--</li>-->
        </ul>
      </div>
      <div class="sy-filler ready"></div>
    </div>
  </div>
</section>

<div class="home-content">
  <div class="home-promo-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-lg-5 price-desc-container content-container">
          <div class="inner-wrapper">
            <div class="text-container">
              <h2><%=	@promo_one.title %></h2>
              <h3><%=	@promo_one.price %><sup><%=	@promo_one.cents %>$</sup></h3>
              <p><%=	@promo_one.description.html_safe  %></p>
              <% unless	@promo_one.description_more.blank? %>
                <p><%=	@promo_one.description_more.html_safe  %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 img-promo-container content-container">
          <div class="inner-wrapper">
            <div class="img-container">
              <%= image_tag @promo_one.image.url , alt: @promo_one.title %>

              <% unless	@promo_one.petro_point.blank? %>
                <div class="petro-point-wrapper hidden-xs hidden-sm">
                  <%= image_tag 'petro-point-icon' , alt: 'Petro Point', class: 'petro-point-icon' %>
                  <span class="center-points-text">
                    <%=	 @promo_one.petro_point %>
                  </span>
                </div>

                  <div class="mobile-petro-points-wrapper hidden-lg hidden-md">
                    <h3>Accumulez <%=	 @promo_one.petro_point %> Petro-points</h3>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row push-down-mobile">
        <div class="col-md-5 col-lg-5 col-md-push-7 col-lg-push-7 price-desc-container content-container">
          <div class="inner-wrapper">
            <div class="text-container">
              <h2><%=	@promo_two.title %></h2>
              <h3><%=	@promo_two.price %><sup><%=	@promo_two.cents %>$</sup></h3>
              <p><%=	@promo_two.description.html_safe  %></p>
              <% unless	@promo_two.description_more.blank? %>
                  <p><%=  @promo_two.description_more.html_safe  %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 col-md-pull-5 col-lg-pull-5 img-promo-container bg-promo-row-2 content-container">
          <div class="inner-wrapper">
            <div class="img-container">
              <%= image_tag @promo_two.image.url , alt: @promo_two.title %>

              <% unless	@promo_two.petro_point.blank? %>
                  <div class="petro-point-wrapper hidden-xs hidden-sm">
                    <%= image_tag 'petro-point-icon' , alt: 'Petro Point', class: 'petro-point-icon' %>
                    <span class="center-points-text">
                    <%=	 @promo_two.petro_point %>
                  </span>
                  </div>

                  <div class="mobile-petro-points-wrapper hidden-lg hidden-md">
                    <h3>Accumulez <%=	 @promo_two.petro_point %> Petro-points</h3>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="promo-title"><%=	t('homepage.promotions.header_title').html_safe  %></h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="home-promo-slider">
      <div class="home-slide">
        <div class="inner-slide">
          <div class="slide-wrapper">
            <%= image_tag 'beer-promo', alt: 'promo-biere' %>
          </div>
        </div>
        <div class="caption-container">
          <h4><%=	t('homepage.promotions.caption_1').html_safe  %></h4>
        </div>
      </div>
      <div class="home-slide">
        <div class="inner-slide">
          <div class="slide-wrapper">
            <%= image_tag 'mecanique-promo', alt: 'promo-mecanique' %>
          </div>
        </div>
        <div class="caption-container">
          <h4><%=	t('homepage.promotions.caption_2').html_safe  %></h4>
        </div>
      </div>
      <div class="home-slide">
        <div class="inner-slide">
          <div class="slide-wrapper">
            <%= image_tag 'carte-ppoint-promo', alt: 'promo-petro-point' %>
          </div>
        </div>
        <div class="caption-container">
          <h4><%=	t('homepage.promotions.caption_3').html_safe  %></h4>
        </div>
      </div>
      <div class="home-slide">
        <div class="inner-slide">
          <div class="slide-wrapper">
            <%= image_tag 'product-promo', alt: 'promo-products' %>
          </div>
        </div>
        <div class="caption-container">
          <h4><%=	t('homepage.promotions.caption_4').html_safe  %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.home-promo-slider').slick({
            dots: false,
            arrows: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>