<%= content_for :page_title, 'À propos' %>

<section id="page_header">
  <%= image_tag 'about-header', alt: 'À propos' %>

  <div class="inner-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-title">
            <div class="text-container">
              <h1>avec vous et pour vous, depuis 1958</h1>
              <p class="hidden-xs">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
                dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
                sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
                Pellentesque tristique dictum ligula vel finibus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-content">
  <div class="about-container">
    <div class="container-fluid">
      <section class="hidden-lg hidden-md hidden-sm mobile-sub-text">
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
          dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
          sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
          Pellentesque tristique dictum ligula vel finibus.
        </p>
      </section>

      <section id="one-fouth">
        <div class="image-container hidden-sm hidden-xs">
          <%= image_tag 'about-company', alt: 'À propos' %>
        </div>
        <div class="text-container">
          <div class="text-wrapper">
            <h2>Entreprise</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
              dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
              sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
              Pellentesque tristique dictum ligula vel finibus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
              dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
              sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
              Pellentesque tristique dictum ligula vel finibus.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<section id="half" class="middle-section">
  <div class="container add-padding">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="text-container">
          <h2>Pétro Point</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
            dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
            sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
            Pellentesque tristique dictum ligula vel finibus.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
            dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
            sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
            Pellentesque tristique dictum ligula vel finibus.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="image-container hidden-sm hidden-xs right-image">
          <%= image_tag 'about-petropoints', alt: 'À propos', class: 'petropoint' %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-content">
  <div class="about-container">
    <div class="container-fluid">
      <section id="one-fouth">
        <div class="text-container">
          <div class="text-wrapper">
            <h2>Services</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
              dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
              sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
              Pellentesque tristique dictum ligula vel finibus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
              dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
              sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
              Pellentesque tristique dictum ligula vel finibus.
            </p>
          </div>
        </div>
        <div class="image-container hidden-sm hidden-xs">
          <%= image_tag 'about-service', alt: 'À propos' %>
        </div>
      </section>
    </div>
  </div>
</div>

<section id="half" class="middle-section">
  <div class="container add-padding">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="image-container hidden-sm hidden-xs left-image">
          <img src="http://placehold.it/571x625">
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="text-container">
          <h2>Équipe</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
            dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
            sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
            Pellentesque tristique dictum ligula vel finibus.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
            dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit. Praesent dignissim quam a varius
            sagittis. Pellentesque tristique dictum ligula vel finibus. Praesent dignissim quam a varius sagittis.
            Pellentesque tristique dictum ligula vel finibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>