<%= content_for :page_title, 'contact' %>
<%= content_for :page_desc, t('contact.meta_desc') %>

<section id="page_header">
  <%= image_tag 'contact-header', alt: 'la reserve', class: 'mobile-landscape-header header-img' %>
  <%= image_tag 'mobile-contact-header', alt: 'la reserve', class: 'mobile-potrait-header  header-img' %>
</section>

<div class="main-content">
  <div class="contact-container">
    <div class="container-fluid">
      <div class="top-section">
        <div class="col-md-12 col-lg-5 remove-padding">
          <div class="map-container">
            <div id="map-canvas"></div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 info-wrapper">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'pc-logo-contact', alt: 'Petro-Canada' %>
                    </div>
                    <div class="text-container">
                      <h2><%= t('contact.address.title').html_safe %></h2>
                      <p>
                        <%= t('contact.address.text').html_safe %>
                      </p>
                      <span class="separator"></span>
                      <p>
                        <%= t('contact.address.phone').html_safe %><br/>
                        <%= t('contact.address.fax').html_safe %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'clock-contact-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2><%= t('contact.open_hours.title').html_safe %></h2>
                      <h3><%= t('contact.open_hours.subtitle_1').html_safe %></h3>
                      <p><%= t('contact.open_hours.text_1').html_safe %></p>
                      <h3><%= t('contact.open_hours.subtitle_2').html_safe %></h3>
                      <p><%= t('contact.open_hours.text_2').html_safe %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="separator-container">
            <div class="sprtr">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="col-md-12 col-lg-5 remove-padding max-height">
          <div class="form-container">
            <h1><%= t('contact.form.title').html_safe %></h1>
            <h4><em>*</em> <%= t('contact.form.required_fields').html_safe %></h4>

            <div class="form-wrapper">
              <%= simple_form_for ContactForm.new, url: contacts_path, :html => { id: 'resume_form', :class => ''}, remote: true, :multipart => true, authenticity_token: true  do |f| %>
                  <div class="form-group has-feedback fname-frm-grp">
                    <%= f.input :firstname, :required => false, placeholder: "Prénom", label:false, :input_html => { :class => "form-control my-input"}  %>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="form-group has-feedback lname-frm-grp">
                    <%= f.input :lastname, :required => false, placeholder: "Nom", label:false, :input_html => { :class => "form-control my-input"}  %>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="form-group has-feedback mail-frm-grp">
                    <%= f.input :email, :required => false, placeholder: "Courriel", label:false, :input_html => { :class => "form-control my-input mail-input"} %>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="form-group has-feedback msg-frm-grp">
                    <%= f.input :message, :required => false, :as => :text, placeholder: "Message", label:false, :input_html => { :class=>"form-control my-input"} %>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="form-group btn-container">
                    <div class="upload-wrapper">
                      <%= f.input :file, :required => false, as: :file, label:false, :input_html => { :class => "btn btn-default upload", :onchange=> "getFileData(this);" } %>
                      <span><%= t('contact.form.curriculum_btn').html_safe %></span>
                    </div>

                    <div class="submit-btn job-submit btn btn-default no-submit">
                      <%= t('contact.form.send_btn') %>
                    </div>
                  </div>

                  <div class= "hidden">
                    <%= f.hidden_field :subject, :value => '' %>
                  </div>

                  <div class="filename-container">
                    <p class="upload-filename"></p>
                    <p class="upload-error"></p>
                  </div>
                  <p class="return-msg"></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 info-wrapper">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'mechanic-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2><%= t('contact.mechanic.title').html_safe %></h2>
                      <p>
                        <%= t('contact.mechanic.text').html_safe %>
                      </p>
                      <span class="separator"></span>
                      <p>
                        <%= t('contact.mechanic.phone').html_safe %><br/>
                        <%= t('contact.mechanic.fax').html_safe %>
                      </p>
                      <span class="separator"></span>
                      <a href="mailto:&#101;&#114;&#105;&#99;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;">&#101;&#114;&#105;&#99;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;</a>
                      <a href="mailto:&#101;&#116;&#105;&#101;&#110;&#110;&#101;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;">&#101;&#116;&#105;&#101;&#110;&#110;&#101;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'clock-contact-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2><%= t('contact.mechanic_open_hours.title').html_safe %></h2>
                      <h3><%= t('contact.mechanic_open_hours.monday').html_safe %></h3>
                      <h3><%= t('contact.mechanic_open_hours.tuesday').html_safe %></h3>
                      <h3><%= t('contact.mechanic_open_hours.wednesday').html_safe %></h3>
                      <h3><%= t('contact.mechanic_open_hours.thursday').html_safe %></h3>
                      <h3><%= t('contact.mechanic_open_hours.friday').html_safe %></h3>
                      <h3><%= t('contact.mechanic_open_hours.saturday').html_safe %></h3>
                      <span class="separator"></span>
                      <p><%= t('contact.mechanic_open_hours.subtext').html_safe %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>