<%= content_for :page_title, 'contact' %>

<section id="page_header">
  <img src="http://placehold.it/1920x682"/>
</section>

<div class="main-content">
  <div class="contact-container">
    <div class="container-fluid">
      <div class="top-section">
        <div class="col-md-12 col-lg-5 remove-padding">
          <div class="map-container">
            test
            <div id="map-canvas"></div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 info-wrapper">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'pc-logo-contact', alt: 'Petro-Canada' %>
                    </div>
                    <div class="text-container">
                      <h2>Dépanneur</h2>
                      <p>
                        207, boulevard Bégin<br/>
                        Sainte-Claire (Québec)<br/>
                        Canada G0R 2V0
                      </p>
                      <span class="separator"></span>
                      <p>
                        <b>T</b> 418 883-2178<br/>
                        <b>F</b> 418 883-1341
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'clock-contact-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2>Heures d'ouvertures</h2>
                      <h3>LUNDI au vendredi</h3>
                      <p>7h30 à 17h00</p>
                      <h3>samedi et dimanche</h3>
                      <p>7h30 à 17h00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="separator-container">
            <div class="sprtr">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="col-md-12 col-lg-5 remove-padding max-height">
          <div class="form-container">
            <h1>Postulez pour un emploi</h1>

            <div class="form-wrapper">
              <div class="form-group">
                <input type="text" class="form-control" id="inputfname" placeholder="Prénom">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputlname" placeholder="Nom">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="inputemail" placeholder="Courriel">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" id="message" placeholder="Message"></textarea>
              </div>
              <div class="form-group btn-container">
                <button type="button" class="btn btn-default">Joindre CV</button>
                <button type="button" class="btn btn-default">Envoyer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 info-wrapper">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'mechanic-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2>atelier de mécanique<br/>et administration</h2>
                      <p>
                        208, boulevard Bégin<br/>
                        Sainte-Claire (Québec)<br/>
                        Canada G0R 2V0
                      </p>
                      <span class="separator"></span>
                      <p>
                        <b>T</b> 418 883-3734<br/>
                        <b>F</b> 418 883-2355
                      </p>
                      <span class="separator"></span>
                      <a href="mailto:&#101;&#114;&#105;&#99;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;">&#101;&#114;&#105;&#99;&#64;&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#111;&#102;&#97;&#114;&#114;&#101;&#108;&#108;&#46;&#99;&#111;&#109;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 max-height">
            <div class="contact-item">
              <div class="inner-container">
                <div class="inner-wrapper">
                  <div class="item">
                    <div class="icon-container">
                      <%= image_tag 'clock-contact-icon', alt: 'icone' %>
                    </div>
                    <div class="text-container">
                      <h2>Heures d'ouvertures</h2>
                      <h3>LUNDI <p>7h30 à 17h00</p></h3>
                      <h3>Mardi <p>7h30 à 17h00</p></h3>
                      <h3>Mecredi <p>7h30 à 17h00</p></h3>
                      <h3>Jeudi <p>7h30 à 17h00</p></h3>
                      <h3>Vendredi <p>7h30 à 17h00</p></h3>
                      <h3>Samedi <p>7h30 à 17h00</p></h3>
                      <span class="separator"></span>
                      <p>Ouvert le samedi pour la période des<br/>pneus au printemps et à l’automne</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>