<%= content_for :page_title, 'Légal' %>
<%= content_for :page_desc, t('legal.meta_desc') %>

<div class="main-content legal-bg">
  <div class="legal-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10">
          <div class="legal-item">
            <h2><%= t('legal.usage.title').html_safe %></h2>
            <p><%= t('legal.usage.text').html_safe %></p>
            <ul>
              <li><%= t('legal.usage.li.item_1').html_safe %></li>
              <li><%= t('legal.usage.li.item_2').html_safe %></li>
              <li><%= t('legal.usage.li.item_3').html_safe %></li>
              <li><%= t('legal.usage.li.item_4').html_safe %></li>
              <li><%= t('legal.usage.li.item_5').html_safe %></li>
              <li><%= t('legal.usage.li.item_6').html_safe %></li>
            </ul>
          </div>

          <div class="legal-item">
            <h2><%= t('legal.protect.title').html_safe %></h2>

            <h3><%= t('legal.protect.port.title').html_safe %></h3>
            <p><%= t('legal.protect.port.text').html_safe %></p>

            <h3><%= t('legal.protect.personal.title').html_safe %></h3>
            <p><%= t('legal.protect.personal.text').html_safe %></p>

            <h3><%= t('legal.protect.commitment.title').html_safe %></h3>
            <p><%= t('legal.protect.commitment.text').html_safe %></p>

            <h3><%= t('legal.protect.consent.title').html_safe %></h3>
            <p><%= t('legal.protect.consent.text').html_safe %></p>

            <h3><%= t('legal.protect.nature.title').html_safe %></h3>
            <p><%= t('legal.protect.nature.text').html_safe %></p>
          </div>

          <div class="legal-item">
            <h2><%= t('legal.protect.object.title').html_safe %></h2>
            <p><%= t('legal.protect.object.text_1').html_safe %></p>
            <ul>
              <li><%= t('legal.protect.object.li.item_1').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_2').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_3').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_4').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_5').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_6').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_7').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_8').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_9').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_10').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_11').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_12').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_13').html_safe %></li>
              <li><%= t('legal.protect.object.li.item_14').html_safe %></li>
            </ul>
          </div>

          <div class="legal-item">
            <h2><%= t('legal.protect.sharing.title').html_safe %></h2>
            <p><%= t('legal.protect.sharing.text_1').html_safe %></p>

            <ul>
              <li><%= t('legal.protect.sharing.li.item_1').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_2').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_3').html_safe %></li>
            </ul>

            <p><%= t('legal.protect.sharing.text_2').html_safe %></p>

            <ul>
              <li><%= t('legal.protect.sharing.li.item_4').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_5').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_6').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_7').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_8').html_safe %></li>
              <li><%= t('legal.protect.sharing.li.item_9').html_safe %></li>
            </ul>

            <p><%= t('legal.protect.sharing.text_3').html_safe %></p>
          </div>

          <div class="legal-item">
            <h2><%= t('legal.protect.others.title').html_safe %></h2>
            <p><%= t('legal.protect.others.text').html_safe %></p>
          </div>

          <div class="legal-item">
            <h2><%= t('legal.protect.modify.title').html_safe %></h2>
            <p><%= t('legal.protect.modify.text').html_safe %></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>