<!DOCTYPE html>
<html>
<head>
  <title>La Réserve - <%= yield(:page_title) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--OpenGraph Meta-->
  <!--<meta property="og:title" content="CRT Construction" />-->
  <!--<meta property="og:site_name" content="CRT Construction" />-->
  <!--<meta property="og:type" content="website" />-->
  <!--<meta property="og:url" content="http://www.crtconstruction.ca" />-->
  <!--<meta property="og:image" content="< image_path('crt_facebook.png') %>" />-->
  <!--<meta property="og:image:width" content="1200" />-->
  <!--<meta property="og:image:height" content="630" />-->
  <!--<meta property="og:description" content="< t('navigation.meta_desc') %>" />-->

  <!--GOOGLE ANALYTICS-->
  <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89277205-1', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body>
<div class="overlay"></div>
<nav class="navbar navbar-static-top">
  <div class="container">
    <a href="https://www.facebook.com/petrocanadasteclaire/?fref=ts" target="_blank" class="fb-link"><%= image_tag 'facebook-icon', alt: 'Facebook' %></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="offcanvas">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'petro-canada-logo-stclaire', alt: 'Petro-Canada' %></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse sidebar-offcanvas pull-right">
      <ul class="nav navbar-nav">
        <li class="hidden-lg hidden-md"><a href="/"><%=	t('master.top_menu.home').html_safe %></a></li>
        <li class="add-margin-right hidden-sm hidden-xs <%= params[:id] == 'a-propos' ? 'active-link' : '' %>"><a href="/a-propos/" data-no-turbolink><%=	t('master.top_menu.about').html_safe %> <span class="underline"></span></a></li>
        <li class="add-margin-right hidden-sm hidden-xs <%= params[:id] == 'produits' ? 'active-link' : '' %>"><a href="/produits/" data-no-turbolink><%=	t('master.top_menu.products').html_safe %> <span class="underline"></span></a></li>
        <li class="add-margin-right <%= params[:id] == 'la-reserve' ? 'active-link' : '' %>">
          <%= link_to breweries_path, data: { no_turbolink: true } do %>
              <%= t('master.top_menu.reserve').html_safe %> <span class="underline"></span>
          <% end %>
        </li>
        <li class="<%= params[:id] == 'contact' ? 'active-link' : '' %>"><a href="/contact/" class="tablet-remove-padding-right" data-no-turbolink><%=	t('master.top_menu.contact').html_safe %> <span class="underline"></span></a></li>
        <li class="hidden-lg hidden-md hidden-sm">
          <a href="https://www.facebook.com/petrocanadasteclaire/?fref=ts" target="_blank"><%= image_tag 'facebook-footer-icon', alt: 'Facebook', class: 'mobile-facebook' %></a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<%= yield %>

<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="footer-title">
            <h2><%=	t('footer.menu_links_text').html_safe %></h2>
          </div>
          <div class="footer-links">
            <ul class="mobile-footer-links hidden-xs">
              <li><a href="/a-propos/" data-no-turbolink><%=	t('master.top_menu.about').html_safe %></a></li>
              <li><a href="/produits/" data-no-turbolink><%=	t('master.top_menu.products').html_safe %></a></li>
            </ul>
            <ul>
              <li class="hidden-lg hidden-md hidden-sm"><a href="/"><%=	t('master.top_menu.home').html_safe %></a></li>
              <li><%= link_to t('master.top_menu.reserve').html_safe, breweries_path, data: { no_turbolink: true } %></li>
              <li><a href="/contact/" data-no-turbolink><%=	t('master.top_menu.contact').html_safe %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="social-media-wrapper pull-right">
            <div class="footer-title">
              <h2><%=	t('footer.social_media_text').html_safe %></h2>
            </div>
            <div class="footer-links ">
              <ul>
                <li><a href="https://www.facebook.com/petrocanadasteclaire/?fref=ts" target="_blank"><%= image_tag 'facebook-footer-icon', alt: 'Facebook' %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copyright-container">
            <div class="footer-copyright-wrapper">
              <p class="pull-left"><%=	t('footer.copyright').html_safe %></p>
              <ul class="pull-right">
                <li><a href=""><%=	t('footer.confidentiality').html_safe %></a></li>
                <li><span>|</span></li>
                <li><a href=""><%=	t('footer.legal').html_safe %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-text">
            <p><%=	t('footer.rights').html_safe %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
